[submodule "\"2020Robot/src/main/java/frc/robot/core751\""]
	path = \"2020Robot/src/main/java/frc/robot/core751\"
	url = https://github.com/team751/core751.git
[submodule "2020Robot/src/main/java/frc/robot/core751"]
	path = 2020Robot/src/main/java/frc/robot/core751
	url = https://github.com/team751/core751.git
